@import "bower_components/bootstrap/less/bootstrap.less";

body {
    color:#000;
    font-family: "wf_SegoeUILight", "arial";
	font-size:18px;
    overflow-x:hidden;
}
@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
    url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}
div.top-menu{
	font-size:16px;
	font-weight:300;
	padding:10px 0px;
	background:#333333;
	color:#fff;
	
	button.btn{
		padding:2px 7px;
		border-radius:0px;
		border:none;
		background:#00975E;
		color:#fff;
		font-size:16px;
	}
	.form-control{
		height:25px;
	}
	.top-menu-city-wrap{
		border-bottom:1px dotted #fff;
	}
	.top-menu-phone{
		text-align:right;
		
		input{
			font-size:16px;
		}
		lable{
			font-size:16px;
			font-weight:normal;
		}
	}
}
div.header-wrap{
	font-size:24px;
	padding:10px 15px;
}
.main-menu{
	background:#00975E;
	padding:15px 15px 10px 15px;

	li{
		list-style:none;
		display:inline-block;
		margin:0px 5px;
		
		a{
			color:#fff;
			text-decoration:none;
			padding:5px 5px;
		}
	}
}
.slider-wrap{
	color:#fff;
	min-height:400px;
	background: url(../images/picture1.jpg) no-repeat right 60px  center;
	
	.slider-title{
		background:#00975E;
		color:#fff;
		margin:60px 0px 60px 40px;
		padding:0px 25px;
		min-height:250px;
		
		ul{
			
			li{
				list-style:none;
				font-size:20px;
			}
		}
	}
}
.circle-object{
	width:170px;
	height:170px;
	border-radius:85px;
	background-color:#36C990;
	margin:0px auto;
}
.title-content{
	margin:20px 0px;
}
.circle-object-health{
	background:#36C990 url(../images/med_page1_icon4.png) no-repeat center center;
}
.title-content-body{
	padding:80px 0px 80px 30px;
	margin:0px 0px 30px 0px;
}
.title-content-image{
	padding:20px 0px;
}
.why-we{
	padding:20px 0px;
	
	h2{
		text-align:center;
	}
}
//#00975E